<h1>Tipos de creaciones</h1>
  <tbody>
    <% @types.each do |type| %>
      <tr>
          <%= render :partial => "type", :locals => {:type => type} %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
