<h1>Acerca</h1>
<p>Desde que comenzamos como un pasatiempo a trasladar toda nuestra creatividad a los pies de nuestras amigas, hasta que comenzamos a ofrecer las Pakun al que quiera una que vio, o una que ideó, pusimos siempre toda nuestra creatividad y amor en cada par que confeccionamos.</p>
<p>¡¡¡Animáte, en la sección Contacto podés preguntar y pedir lo que quieras!!!</p>
