<div class="container-fluid">
    <h1>Contacto</h1>
    <p>¡Nos encanta llevar la imaginación en nuestros pies!</p>
    <p>Si querés hacernos un pedido, o cualquier pregunta, podés dejarnos un mensaje privado en nuestro <a class="in-text-link" href="https://www.facebook.com/PaKuNArteDePie">sitio en facebook</a>, te vamos a responder a la brevedad.</p>
</div>