<h1>¡Bienvenidos!</h1>

<p>Bienvenido al sitio de Pakun, una zapatilla que lleva tu imaginación con vos en cada paso que das.</p>
<p>Acá podrás ver todas nuestras creaciones, saber más sobre nosotros, y también contactarnos para hacernos llegar tu pedido o consulta.</p>
<p>Esperamos que disfrutes apreciando nuestro arte, tanto como nosotros disfrutamos crearlo.</p>
