<%= stylesheet_link_tag "jquery.fancybox" %>
<%= stylesheet_link_tag "items" %>
<%= javascript_include_tag "jquery.fancybox.pack" %>
<%= javascript_include_tag "items" %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Id type:</strong>
  <%= @item.id_type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<div class="container">
    <div class="row">
      <% @images.each do |image| %>
        <div class="col-xs-3">
          <a class="fancybox thumbnail" rel="group" href="<%= image.location %>">
            <img src="<%= image.location %>" alt="">
          </a>
        </div>
      <% end %>
  </div>
</div>

<%= link_to 'Edit', edit_item_path(@item) %>

