.titulo-landing {
  color: #840c24;
  position: absolute;
  text-align: center;
  left: calc(50% - 185px);
  top: -128px;
  z-index: 123;
  padding-bottom: 0;
}
#footer-landing a {
  color: #840c24;
}
.intro-divider {
  border-color: #840c24;
}
.intro-header {
  padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
  padding-bottom: 50px;
  color: #f8f8f8;
  background: url('back-alpha06.png');
  background-repeat:repeat;
  text-align: center;
  height: 500px;
}
i.fa {
  font-family: FontAwesome !important;
}